<div>
    <form>
        <p>
            <label for="hamburger">Hamburger: </label>
            <input type="text" name="hamburger" id="hamburger">
        </p>
        <p>
            <button id="addBurger">Add Burger!</button>
        </p>
    </form>
</div>